.blog-recomended {
    height: 95vh;
    width: 100%;
    background-image: url(../img/3840x2564-2639085-landscape-4k-wallpaper-for-desktop-background-free-download.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
}

.background-bottom-opacity {
    height: 85vh;
    width: 90%;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.829);
    display: grid;
    padding: 5vh 5%;
    grid-template-rows: 15% 85%;
    grid-template-columns: 50% 50%;
}

.about-title {
    grid-area: 1 / 1 / 2 / 3;
    color: var(--top-font-color);
    text-align: center;
}

.about-text {
    padding: 3vh 3vw;
    color: var(--top-font-color);
    font-size: .8rem;
    font-weight: 300;
    transition: 1000ms;
    text-align: center;
}

.about-text i {
    transform: rotate(0deg);
    transition: 1000ms;
    margin-top: 2vh;
}

.about-text:hover i {
    transition: 1000ms;
    transform: rotate(-360deg);
}