.blog-top {
    height: 95vh;
    width: 100%;
    background-image: url('../img/13585.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
}

.background-top-opacity {
    height: 85vh;
    width: 90%;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.822);
    padding: 5vh 5%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 20% 40% 15% 10%;
}

.background-top-opacity img {
    height: var(--top-font-size);
    grid-area: 1 / 1 / 2 / 2;
}

.welcome-title {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: center;
    color: var(--top-font-color);
    font-size: var(--top-font-size);
}

.welcome-desc {
    grid-area: 3 / 1 / 4 / 4;
    color: var(--top-font-color);
    font-size: .8rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.projects-button {
    grid-area: 5 / 1 / 6 / 2;
    border: 3px solid var(--top-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--top-font-color);
    text-transform: uppercase;
    font-size: .5rem;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.projects-button a {
    color: var(--top-font-color);
    font-size: .5rem;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.projects-button:hover {
    text-decoration: underline;
    color: var(--top-font-color);
}

.about-button {
    grid-area: 5 / 3 / 6 / 4;
    border: 3px solid var(--top-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--top-font-color);
    text-transform: uppercase;
    font-size: .5rem;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.about-button:hover {
    text-decoration: underline;
    color: var(--top-font-color);
}

.about-button a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}