.blog-contact {
    height: 50vh;
    width: 90%;
    padding: 5vh 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 15% 50% 15%;
}

.blog-contact-title {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

.blog-contact-gmail {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.blog-contact-gmail:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.gmail-image {
    width: 35%;
}

.gmail-desc {
    font-size: .3rem;
    width: 70%;
    text-align: center;
}

.blog-contact-instagram {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.blog-contact-instagram:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.instagram-image {
    width: 30%;
}

.instagram-desc {
    font-size: .3rem;
    width: 70%;
    text-align: center;
}

.blog-contact-linkedin {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    align-items: center;
    transition: 300ms;
}

.blog-contact-linkedin:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.linkedin-image {
    width: 30%;
}

.linkedin-desc {
    font-size: .3rem;
    width: 70%;
    text-align: center;
}

.subrayado {
    text-decoration: underline;
    font-size: .3rem;
}