.projects-top {
    height: 90vh;
    width: 100%;
    background: url('../img/656665.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
}

.projects-top-shadow {
    height: 80vh;
    width: 90%;
    padding: 5vh 5%;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 15% 70% 15%;
}

.projects-top-shadow a img {
    height: var(--top-font-size);
    grid-area: 1 / 1 / 2 / 3;
}

.projects-top-text-right {
    grid-area: 2 / 2 / 4 / 3;
}

.projects-top-text-right h1 {
    color: var(--top-font-color);
    text-align: right;
}

.projects-top-text-right p {
    margin-top: 5%;
    color: var(--top-font-color);
    text-align: right;
    font-size: .8rem;
}

.projects-top-text-left {
    grid-area: 2 / 4 / 4 / 5;
}

.projects-top-text-left h1 {
    color: var(--top-font-color);
    text-align: center;
    font-size: .8rem;
    margin-top: 5%;
}

.projects-top-icon {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.projects-top-text-left i {
    color: var(--top-font-color);
    font-size: 1.5rem;
    margin-top: 5%;
}